.vscode/**
.vscode-test/**
out/**
!node_modules/file-uri-to-path
!node_modules/bindings
!node_modules/debug
!node_modules/@serialport
!node_modules/serialport
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
